html, body {
  border: 5%, solid, black;
  background-image:url("bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-size-adjust: 100%;
}

.banner {
  color: #ebeaea;
  font-family: "Andale Mono", "monospace";
  text-align: center;
  font-size: 4vw;
  margin: 0%;
}

#projects {
  width: 95%;
  margin: 2% 10%;
  color: white;
}


#projects {
  width: 100%;
  margin: 2% 1%;
}

.left-heading {
  clear: left;
  color: #ebeaea;
  display: block;
  float: none;
  font-family: "Andale Mono", "monospace";
  font-size: clamp(2vw, 5vh, 4vw);
  text-align: left;
  margin-left: 2%;
  width: 100%;
}

.project {
  margin-left: 3%;
  margin-top: 1%;
  color: #e0cccc;
}

.title {
  color: #f6f6f6;
  margin: 0% 2% 0% 0%;
  font-size: clamp(2vw, 5vh, 4vw);
}

.summary {
  margin: 0% 2%;
  font-size: clamp(2vw, 2vw, 2vw);
}

.link {
  margin: 0% 2% 0% 2%;
  color: #ebeaea;
  font-size: clamp(1.5vw, 2vw, 2vw);
}

li p {
  margin: 0;
  padding: 0;
}

li a {
  margin: 0;
  padding: 0;
}

.copyright {
  clear: left;
  color: #ffffff;
  display: block;
  float: none;
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  font-size: .8125em;
  letter-spacing: .03em;
  line-height: 1.375em;
  margin: 0%;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 1%
}
